<div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading mt-2">THEMES</p>
          <div class="color-themes mx-0 px-4">
            <a href="#" class="color-theme default"></a>
            <a href="#" class="color-theme dark"></a>
            <a href="#" class="color-theme brown"></a>
          </div>
        </div>
      </div>